body {
  overflow-y: scroll;
}
.wrapper {
  padding-top: 25px;
  align-self: center;
  flex-grow: 1;
  width: 1300px;
}
.textinput__container {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  
}

.textinput__name {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(244, 244, 244);
  border-bottom: 1px solid rgb(219, 219, 219);
}

.textarea {
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
}
.textarea textarea {
  width: 100%;
  font-size: 15px;
  border-radius: 10px;
}
.textarea textarea:focus {
  outline: 1px solid rgb(105, 105, 255);
  border-radius: 10px;
}

.checkbox__container {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.checkbox__tittle {
  font-weight: bold;
  padding-bottom: 15px;
}
.checkbox {
  padding: 5px 0;
}
.radio {
  display: flex;
  flex-direction: column;
}
.radio__item {
  padding: 5px 0;
  align-items: center;
}
.select {
  padding: 10px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
}

.hidden {
  display: none;
    
}
.visible {
  display: block;
  transform: translateY(+150%);
  animation: ani 0.5s forwards;
}
@keyframes ani {
  0% {transform: translateY(+150%);}
  100% {transform: translateX(0);}
}
.textarea__tittle {
  font-weight: bold;
  font-size: 15px;
}

.button__submit {
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  background: rgb(244, 244, 244);
}

.result {
  margin-top: 30px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
}
