.footer__container {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  flex-direction: column;
	margin-top: 30px;
  border-top: 1px solid rgb(219, 219, 219);;
}

.footer__text {
  width: 1300px;
  padding: 25px;
  align-self: center;
  flex-shrink: 0;
}

.link {
  text-decoration: none;
}